.c-container {
  justify-content: space-between;
}

.c-container > div {
  flex: 1;
}

.c-right {
  width: 100%;
  margin-left: 50px;
}

.c-left {
  gap: 0.2rem;
}

.contactmodes {
  margin-top: 1rem;
  gap: 0.5rem;
}

.contactmodes .row {
  gap: 1rem;
}

.mode {
  width: 16rem;
  padding: 1rem;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 0.5rem;
  transition: all 300ms ease-in;
}

.mode .button {
  width: 100%;
  background: var(--lightBlue);
  color: var(--blue);
  font-size: 0.8rem;
  font-weight: 600;
}

.mode > :nth-child(1) {
  width: 100%;
  gap: 1rem;
  font-size: 14px;
}

.mode .detail .primaryText {
  font-weight: 500;
  font-size: 14px;
}

.mode:hover {
  scale: 1.1;
  box-shadow: var(--shadow);
}

.mode .button:hover {
  background: var(--blue);
  color: white;
  scale: 0.8;
}
